
[id^=portlet_liferayinstagrambasicdisplay] .portlet-content .portlet-content-container {
	margin-bottom: 2.2rem;
}/*******/


.slick-track {
    /*display: flex !important;*/
    /*justify-content: center;*/
    height: 100%;
}/******/

.slick-dots {
	bottom: unset !important;
}/*****/

.slick-dots li {
	margin: 0 3px !important;
}/*****/

#instagram-content {
	display: flex !important;
    justify-content: center;
}

#foto-slides {
	background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}


.instagram-imagenes-responsive {
	width: 100%;
}

  .instagram-captions-responsive {
	max-width: unset;
  }

  .caption-align{
	display: flex;
	justify-content: flex-start;
	padding-left: .4em;
  }/******/

  .instagram-icono-album {
	  display: flex;
	  justify-content: flex-end;
	  margin-right: .6em;
  }/****/

  .instagram-hovered {
	filter:  brightness(.4);
}/*****/


.instagram-icono-album > svg:hover {
	opacity: .7;
	cursor: pointer;
}/******/

.instagram-icono-album > svg {
    position: absolute;
    width: 1.4em;
    z-index: 20;
	color: white;
    margin-top: .6em;
  } /****/

#instagram-album-popup {
	background-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.instagram-album-carousel-show {
	display: flex !important;
	background-color: rgba(0, 0, 0, .6) !important;
}/*****/


#instagram-album-popup-close {
	position: absolute;
    z-index: 20;
    color: white;
    top: 10px;
    right: 20px;
}

#instagram-album-popup-close .slick-track {
	width: unset;
}

#icon-instagram-album-close {
	width: 1.4em;
}

#instagram-album-popup-close:hover, .instagram-icono-album > svg:hover {
	opacity: .7;
	cursor: pointer;
}


  /* Loader from  https://tobiasahlin.com/spinkit/ */
  .spinner {
	width: 70px;
	text-align: center;
	display: none;
  }
  
  .spiner-show {
	  display: inherit;
  }

  .spinner > div {
	width: 18px;
	height: 18px;
	background-color: white;
  
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {/******/
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {/*****/
	0%, 80%, 100% { 
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 40% { 
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
  }

  /* End loader */